body {
	background-color: #ccc;
	width: 100%;
	height: 100%;
}

div img {
	height: 100%;
	width: 100%;
}

#flipbook {
	position: absolute;
	top: 0;
	height: 97%;
	width: 85%;
	display: block;
	margin: 0 auto;
	background-color: #ccc;
	/*box-shadow: 0 2px 1px #ccc;*/
}

#flipbook div {
	background-size: 100% 100%;
}

@media all and (orientation: portrait) {
	#flipbook {
		width: 97%;
		height: 99%;
	}
}